name: Build

on: workflow_dispatch

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build binary
        run: |
          cargo install cross
          echo $'[target.x86_64-unknown-linux-gnu]\nimage = "ghcr.io/cross-rs/x86_64-unknown-linux-gnu:main-centos"' > Cross.toml
          cross build --locked --release --target x86_64-unknown-linux-gnu
      - name: Build manpages
        run: |
          sudo apt-get install scdoc
          scdoc < docs/skeld.1.scd > skeld.1
          scdoc < docs/skeld-config.5.scd > skeld-config.5
          scdoc < docs/skeld-project-data.5.scd > skeld-project-data.5
      - name: Package
        id: package
        run: |
          VERSION_STR="v$(cargo metadata --format-version=1 --no-deps | jq -r '.packages[0].version' | sed -e 's/-/_/g')"
          OUT_DIR="skeld-$VERSION_STR-x86_64"

          mkdir -p $OUT_DIR/bin
          mv target/x86_64-unknown-linux-gnu/release/skeld $OUT_DIR/bin/

          mkdir -p $OUT_DIR/share/man/man1
          mkdir -p $OUT_DIR/share/man/man5
          mv skeld.1 $OUT_DIR/share/man/man1
          mv skeld-config.5 $OUT_DIR/share/man/man5
          mv skeld-project-data.5 $OUT_DIR/share/man/man5

          tar czf $OUT_DIR.tar.gz $OUT_DIR
          echo "package_file=$OUT_DIR.tar.gz" >> $GITHUB_OUTPUT
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.package.outputs.package_file }}
          path: ${{ steps.package.outputs.package_file }}
          compression-level: 0
